<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <header>
        <h1>
            My Awesome  Blog
            </h1>
            <!--if the user is logged in, show logged out-->
            @if(Request.IsAuthenticated)
            {
                <div>
                    Hello, @User.Identity.Name
                    &nbsp|&nbsp
                    <a href ="@Url.Action("Index", "Post")">
                        Your Posts
                    </a>
                    &nbsp|&nbsp
                    <a href="@Url.Action("Signout", "Account")">
                        Log out
                    </a>
                </div>
            }
            else
            {
             <div>
                <a href="@Url.Action("Login", "Account")">
                    Login
                </a>
            </div>
            <div>
                <a href="@Url.Action("Register", "Account")">
                    Register
                </a>
            </div>
            }
        
    </header>
    @RenderBody()
        
    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
</body>
</html>
